#!/bin/bash

rsync -v  -d --delete-excluded -rl  /home/{{ sys_user }}/  /mnt/nas-smb01/backups/{{ ansible_nodename }}/{{ sys_user }}/
rsync -v -d --delete-excluded -rl   /etc/  /mnt/nas-smb01/backups/{{ ansible_nodename }}/etc/
rsync  -v -d --delete-excluded -rl   /root/  /mnt/nas-smb01/backups/{{ ansible_nodename }}/root/
